
.media_btn_login_signout{
  display: none;
}

.media_btn_title{
  margin-left: -9.4px;
}

.floatLeft{
  float: left;
}

@media screen and (max-width: 1318px) {
  .media_btn_login_signout{
    display: block;
  }

  .media_display_none{
    display: none;
  }

  .media_btn_title{
  margin-left: -15px;
}
  
}